/**
 * Site Footer Component
 * 
 * Scoped to .site-footer to prevent styling any <footer> element.
 * Displays centered copyright and links.
 */

@layer components {
  footer.site-footer {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
    opacity: 0.7;

    & ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      margin-top: -1rem;
      justify-content: center;
    }
  }
}
